<div class="container">
  <div class="row justify-content-between">
    <% @questions.each do |question| %>
      <div class="col-6 my-2">
        <div class="card img-thumnail">
          <div class="row justify-content-between">
            <div class="col-4 card-body">
              test
            </div>
            <div class="col-8 card-body">
              <h5 class="card-title">タイトル：<%= link_to question.title, question_path(question) %></h5>
              <div class="float-right">
              <%= link_to question.user.name, user_path(question.user) %><span class="test-muted">投稿日：<%= question.created_at.strftime('%Y/%m/%d') %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @questions %>
  </div>
</div>