<div class="row justify-content-between">
      <% users.each do |user| %>
        <div class="col-md-6 my-1">
          <div class="card img-thumnail shadow bg-light rounded">
            <div class="row justify-content-between">
              <div class="col-4 card-body">
                test
              </div>
              <div class="col-8 card-body">
                <h5 class="card-title">k</h5>
                <div>
                <%= link_to user.name, user_path(user) %></div>
                <span class="text-muted"><%= render 'relationships/follow_button', user: user %></span>
                
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= paginate users %>
  </div>
</div>