<div class="row">
      <% users.each do |user| %>
  <div class="col-md-6">
    <div class="user-bar d-flex align-items-center">
        <%= link_to user.name, user_path(user) %>
        <span class="text-muted"><%= render 'relationships/follow_button', user: user %></span>
    </div>
  </div>
      <% end %>
      <%= paginate users %>
</div>