header{
  border-bottom: 1px solid white;
}
.container-fluid{
  margin: 0;
  padding: 0;
  height: 100vh;
}
.jambotron{
  background: image-url("qes.jpg") center no-repeat;
  background-size: cover;
  height: 700px;
}
.text-position{
  position: absolute;
  top: 100px;
  left: 30px;
  color: white;
}
footer{
  height: 50px;
  background-color: #000000a3;
  color: #d5d5d5;
  justify-content: center;
  align-items: center;
  display: flex;
}